# Dependencies
/node_modules

# Next.js build output
/.next
/out

# Next.js compiler cache
/.swc
*.tsbuildinfo

# Environment files
# DO NOT COMMIT YOUR SECRETS!
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Editor
.vscode